default aurum-hopper-recovery
prompt 0
timeout 1

label aurum-hopper-recovery
    kernel /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components noeject nopersistence noswap noautomount console=tty0 systemd.unit=aurum-hopper-seed-recovery.target aurum_hopper_recovery=1
